body {
   
  
	margin-top: 150px;
   text-align: center;
	
align-items: center;
	width: 600px;
	

	
	height:300px;
}

.form-control{
width: 400px;


}

.form-horizontal{

margin-top: 25px;

}

.login{
	display: block;
	align-content: center;
	vertical-align: middle;
 display: inline-block;


}


