body
  {
   margin:5;
   padding:5;
   background-color:#add7f4;
   align-content: center;
  }
  .box
  {
   width:900px;
   border:1px solid #ccc;
   background-color:#fff;
   border-radius:10px;
   margin-top:25px;
   box-shadow: 1px 1px 2px #3c2f00;
  }

.form_import{


  vertical-align:center;
 
  background-color: #cce7fc;
  
  border-radius:10px 10px 10px 10px ;
  padding: 5px;
  box-shadow: 1px 1px 2px #3c2f00;
  height:50px;
}
th {
    background-color: #003b68;
    color: white;
  text-align:Center;
  
}